* {
  font-family: 'roboto';
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #251b3d;
  height: 2000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.logo {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
}
.span {
  font-weight: 200;
}
.menu a {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  padding: 10px;
  font-weight: 200;
}
.items-direita {
  color: #fff;
}

.inicio-items {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  padding: 50px 0px;
}
.imagem-esquerda {
  height: 450px;
  position: relative;
}

.imagem-esquerda img {
  max-height: 100%;
  border-radius: 80px;
}

.imagem-esquerda::before {
  content: '';
  width: 346px;
  height: 450px;
  border: 2px solid #4ba4ce;
  border-radius: 80px;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: -1;
}

.items-direita h2 {
  font-size: 3.1rem;
  font-weight: 200;
}

.items-direita h1 {
  font-size: 4rem;
  margin-bottom: 38px;
}

.items-direita span {
  font-size: 1.4rem;
  font-weight: 500;
}

.sobre {
  background-color: #493773;
}

.info-sobre {
  padding: 100px 20px;
  color: #fff;
  display: grid;
}

.info-sobre h2 {
  margin-bottom: 50px;
  font-size: 3.5rem;
  font-weight: 200;
}

.info-sobre p {
  font-size: 1.3rem;
  font-weight: 300;
}

.download {
  color: #fff;
  padding: 20px 30px;
  justify-self: end;
  background-color: #4ba4ce;
  border-radius: 40px;
  margin-top: 50px;
}

.info-formacao {
  padding: 60px 0px;
}

.info-formacao h2 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 200;
  color: #fff;
}

.formacoes-span {
  color: #4ba4ce;
  font-weight: 300;
}

.container-divisao {
  padding: 60px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  background-color: #2e2d3a;
  justify-items: center;
  align-content: center;
  padding: 40px;
  gap: 10px;
  height: 400px;
  border-radius: 30px 0px 30px 0px;
  color: #fff;
  border: 4px solid transparent;
}
.card li {
  margin-bottom: 30px;
}

.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1.2rem;
}

.card:hover {
  border: 4px solid #4ba4ce;
  transition: 0.5s;
}

.card img {
  height: 75px;
}

.projetos {
  background-color: #493773;
}

.projetos-geral {
  padding: 60px 20px;
}

.projetos-geral > h2:first-child {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 200;
  position: relative;
}

.projetos-geral > h2:first-child::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 60px;
}

.spanPrimarioProjetos {
  display: block;
  color: #fff;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 200;
}

.divisa {
  margin-top: 60px;
}

.divisao-container {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.divisao-container-dois {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.projetoUm img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.projetoUm img:hover {
  box-shadow: 0 5px 30px rgba(146, 220, 255, 0.8);
  transition: 0.5s;
}

.paragrafoProjeto {
  padding: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.3rem;
  border-radius: 0px 20px 20px 0px;
}

.paragrafoProjetoDois {
  padding: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.3rem;
  border-radius: 20px 0px 0px 20px;
  text-align: right;
}

.projetoTexto h2 {
  font-size: 2.5rem;
  padding-left: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

.projetoTextoDois h2 {
  font-size: 2.5rem;
  padding-right: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  text-align: end;
}
